/* for sticky mobile state */

.purchase_sticky_open {
  position: fixed;
  width: 100%;
  bottom: 5px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

@media (max-width: 1071px) {
  .purchase_sticky::before,
  .purchase_sticky .purchase__logo,
  .purchase_sticky .purchase__stars,
  .purchase_sticky .purchase__review,
  .purchase_sticky .purchase__old-price,
  .purchase_sticky .purchase__options {
    display: none;
  }

  .purchase_sticky { 
    padding: 8px 12px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    position: fixed;
    bottom: 5px;
    left: 0;
    right: 0; 
  }

  .purchase_sticky .purchase__info {
    border-bottom: none;
    padding-bottom: 0;
    display: inline; 
    width: 73%
  }

  .purchase_sticky .purchase__text-block {
    margin: 0;
    display:inline-block;
    width: 100%;
  }

  .purchase_sticky .purchase__header {
    font-size: 14px;
    line-height: 1.5;
  }

  .purchase_sticky  .purchase__price {
    display: inline;
    border: none;
    padding: 0;
    width: 100%;
  } 

  .purchase_sticky  .purchase__new-price,
  .purchase_sticky .purchase__new-price_size_small {
    font-size: 14px;
    line-height: 1.4;
  } 

  .purchase_sticky  .purchase__new-price::after{
    content: ' - 3 Devices, 1 year' ;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    display: inline;
  } 

  .purchase_sticky  .purchase__buy {
    width: 26%;  
    margin: 0;
  } 

  .purchase_sticky  .purchase__button {
    margin: 0;
    padding: 5px 12px;
  } 

}