.content {
  position: relative;
  padding: 424px 24px 0;
}

@media (min-width: 768px) {
  .content {
    padding: 114px 166px 0;
  }
}

.content::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 0;

  background-image: url(../../images/Intersect.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;

  width: 100%;
  min-width: 388px;
  height: 768px;
  z-index: -1;
}

@media (min-width: 768px) {
  .content::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -2;
    background: linear-gradient(100.56deg, rgba(29, 29, 27, 0) 0%, #1D1D1B 59.08%), linear-gradient(180deg, rgba(29, 29, 27, 0) 0%, #1D1D1B 100%), linear-gradient(103.91deg, #23D1AE 0%, rgba(1, 50, 35, 0) 59.93%);
    opacity: 0.8;
  }
}


@media (min-width: 1271px) {
  .content__info {
    max-width: 530px;  
  }
}

/* adds dark background for white text  */

@media (min-width: 440px) and (max-width: 1270px) {
  .content__info {
    max-width: 530px;  
    background-color: rgba(1, 1, 1, .8);
    margin: 0 auto;
    border-radius: 5px;
    padding: 30px;
  }
}

.content__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  margin: 0;
  letter-spacing: 1px;
}

@media (min-width: 768px) {
  .content__header {
    font-size: 64px;
    line-height: 1.1;
  }
}


.content__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 1.1;
  margin: 31px 0 23px;
  opacity: .8;
  letter-spacing: -0.5px;
}

@media (min-width: 768px) {
  .content__text {
    margin: 28px 0 23px;
    font-size: 32px;
    line-height: 1;
    letter-spacing: 0.5px;
  }
}

.content__text::before {
  content: "";
  height: 2px;
  width: 85px;
  display: block;
  background-color: white;
  margin-bottom: 9px;
}


.content__list {
  margin: 23px 0;
  padding-left: 26px;
  list-style-type: none;
  list-style-image: url(../../images/stroke.svg);
}

@media (min-width: 768px) {
  .content__list {
    margin: 52px 0;
  }
}

.content__list-item {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 20px;
  padding-left: 7px;
}

.content__list-item:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .content__list-item {
    font-size: 24px;
    line-height: 1.3;
  }
}

.content__list-item_dimmed {
  opacity: .8;
}










