.content {
  overflow: hidden;
}

.content::before {
  content: "";
  background-image: url(../../images/Intersect.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;

  display: block;
  width: 100%;
  min-width: 388px;
  margin-left: auto;
  aspect-ratio: 1/1;

  max-height: 500px;
}

@media (min-width: 1024px) {
  .content::before { 
    position: absolute; 
    top: 0;
    right: 0;
    z-index: -1;
  }
}

@media (min-width: 1228px) {
  .content::before { 
    max-height: 768px;
  }
}



@media (min-width: 768px) {
  .content::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -2;
    background: linear-gradient(100.56deg, rgba(29, 29, 27, 0) 0%, #1D1D1B 59.08%), linear-gradient(180deg, rgba(29, 29, 27, 0) 0%, #1D1D1B 100%), linear-gradient(103.91deg, #23D1AE 0%, rgba(1, 50, 35, 0) 59.93%);
    opacity: 0.8;
  }
}
