.content__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 1.1;
  margin: 31px 0 23px;
  opacity: .8;
  letter-spacing: -0.5px;
}

@media (min-width: 768px) {
  .content__text {
    margin: 28px 0 23px;
    font-size: 32px;
    line-height: 1;
    letter-spacing: 0.5px;
  }
}

.content__text::before {
  content: "";
  height: 2px;
  width: 85px;
  display: block;
  background-color: white;
  margin-bottom: 9px;
}