.purchase {
  background: linear-gradient(317.5deg, rgba(0, 168, 142, 0.4) 66.18%, rgba(126, 255, 51, 0.4) 100%), #23D1AE;;
  width: 110%;
  max-width: 328px;
  margin: 80px auto;
  position: relative;
  color: #1D1D1B;
  padding: 24px 16px 20px;
  box-sizing: border-box;
  /* left: 0;
  right: 0;
  bottom: 5px; */
}

@media (min-width: 1072px) {
  .purchase {
    margin: 8px auto;
    max-width: 1172px;  
    display: flex;
    padding: 12px 28px;
    justify-content: space-between;
    top: 42px;
    position: sticky;
    /* position: fixed; */
    /* left: 0; */
    /* right: 0; */
    /* top: 42px; */
    /* bottom: 0; */
    width: 100%;
  }
}

.purchase::before {
  content: "Save 20%";
  display: inline-block; 
  background-color: #8233FF;
  padding: 9px;
  margin: 0;
  width: 100%;
  text-align: center;
  max-width: 161px;
  color: white;
  position: absolute;
  top: -36px;
  left: 0;
  box-sizing: border-box;

  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
}

@media (min-width: 1072px) {
  .purchase::before {
    max-width: 285px;
    top: -42px;
    left: 50%;  
    transform: translateX(-34%);    
    font-size: 21px;
    line-height: 1.15;
  }
}

.purchase__info {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 1072px) {
  .purchase__info {
    flex-wrap: nowrap;
  }
}

.purchase__logo {
  width: 50px;
  height: 62px;
  display: inline-block;
  background-image:  url(../../images/Group.svg);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center bottom;
  margin-right: 23px;
}

@media (min-width: 1072px) {
  .purchase__logo {
    width: 180px;
    height: 90px;
    background-size: 80px;
    background-position: center;
    margin-right: 28px;
    background-image:  url(../../images/kasperskyDesctopIcon.svg);
  }
}

.purchase__text-block { 
  display: flex;
  flex-wrap: wrap; 
  width: 70%;
  margin-bottom: 20px;
}

@media (min-width: 1072px) {
  .purchase__text-block {
    margin-bottom: 0;
    width: 100%;
    display: inline-block;
    max-width: 350px;
  }
}

.purchase__header {
  font-weight: 700;
  font-size: 21px;
  line-height: 1.1;
  margin: 0 0 4px;
  max-width: 200px;
}

@media (min-width: 1072px) {
  .purchase__header {
    max-width: 400px;
    width: 100%;
    margin: 17px 0 8px;
    letter-spacing: 0.5px;
  }
}

.purchase__stars {
  display: flex;
  margin-right: 8px;
}

@media (min-width: 1072px) {
  .purchase__stars {
    max-width: 40%;
    display: inline-flex; 
    margin-right: 4px;
 }
}

.purchase__star {
  background-image:  url(../../images/stars/Full.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
  width: 20px;
  height: 20px;
}

.purchase__star_half {
  background-image:  url(../../images/stars/Half.svg);
}

.purchase__review {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2;
  margin: 0;
  text-decoration: none;
  color: inherit;
}

@media (min-width: 1072px) {
  .purchase__review {
    display: inline;
    max-width: 40%;
    vertical-align: super;
  }
}

.purchase__price {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  padding: 15px 0;
  width: 100%;
}

@media (min-width: 1072px) {
  .purchase__price {
    padding: 0;
    border: none;
    border-left: 2px solid rgba(255, 255, 255, 0.2);
    border-right: 2px solid rgba(255, 255, 255, 0.2);
    max-width: 290px;
    min-width: 260px;
  }
}

.purchase__old-price {
  margin: 0 26px 0 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.3;
  text-decoration: line-through;
  color: #1D1D1B;
  opacity: .6;
}

.purchase__new-price {
  margin: 0;
  font-weight: 700;
  font-size: 54px;
  line-height: 1;
  color: #1D1D1B;
}

@media (min-width: 1072px) {
  .purchase__new-price {
    font-size: 64px;
    line-height: 1.25;  
  }
}

.purchase__old-price_size_small {
  font-size: 12px;
}

.purchase__new-price_size_small {
  font-size: 27px;
}

.purchase__buy {
  margin-top: 20px;
}

@media (min-width: 1072px) {
  .purchase__buy {
    display: flex;
    margin: 0 0 0 30px;
    align-items: center;
  }
}

.purchase__options {
  border: 2px solid #1D1D1B;
  background-color: #15C1A1;
  width: 100%;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  padding: 12px 6px;
}

.purchase__option[selected] {
  background-color: #7FE3CE;
}

@media (min-width: 1072px) {
  .purchase__options {
    max-width: 190px;
  }
}

.purchase__button {
  width: 100%;
  display: block;
  text-align: center;
  background-color: #FF3748;
  border-radius: 3px;
  padding: 13px;
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  margin-top: 18px;
  border: none;
  overflow: hidden;
}

@media (min-width: 1072px) {
  .purchase__button {
    margin: 0 0 0 24px;
    width: 120px;
  }
}
