.purchase {
  background: linear-gradient(317.5deg, rgba(0, 168, 142, 0.4) 66.18%, rgba(126, 255, 51, 0.4) 100%), #23D1AE;;
  width: 110%;
  max-width: 328px;
  margin: 80px auto;
  position: relative;
  color: #1D1D1B;
  padding: 24px 16px 20px;
  box-sizing: border-box;
}

@media (min-width: 1072px) {
  .purchase {
    margin: 8px auto;
    max-width: 1172px;  
    display: flex;
    padding: 12px 28px;
    justify-content: space-between;
    top: 42px;
    position: sticky;
    width: 100%;
  }
}

.purchase::before {
  content: "Save 20%";
  display: inline-block; 
  background-color: #8233FF;
  padding: 9px;
  margin: 0;
  width: 100%;
  text-align: center;
  max-width: 161px;
  color: white;
  position: absolute;
  top: -36px;
  left: 0;
  box-sizing: border-box;

  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
}

@media (min-width: 1072px) {
  .purchase::before {
    max-width: 285px;
    top: -42px;
    left: 50%;  
    transform: translateX(-34%);    
    font-size: 21px;
    line-height: 1.15;
  }
}
