.content__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  margin: 0;
  letter-spacing: 1px;
}

@media (min-width: 768px) {
  .content__header {
    font-size: 64px;
    line-height: 1.1;
  }
}