.compatibility {
  max-width: 250px;
  margin: 33px auto 40px;
}

@media (min-width: 768px) {
  .compatibility {
    margin: 66px 0 8px;
    max-width: 100%;
    display: flex;
  }
}

.compatibility__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  margin: 0 0 12px;
}

@media (min-width: 768px) {
  .compatibility__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    margin: 0;
  }
}

.compatibility__list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .compatibility__list {
    margin: 0;
  }
}

/* common img styles */

.compatibility__list-item {
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;

  /* divide line */
  border-right: 1px solid rgba(102, 102, 102, 0.4);
} 

  /* remove divide line */
.compatibility__list-item:last-child {
  border-right: none;
} 

.compatibility__list-item_windows {
  background-image: url(/images/logo/windows_logos_PNG25.svg);
  width: 47px;
}

.compatibility__list-item_macOS {
  background-image: url(/images/logo/1280px-MacOS_wordmark.svg);
  width: 87px;
}

.compatibility__list-item_android {
  background-image: url(/images/logo/Android_symbol_green_RGB.svg);
  width: 60px;
}

.compatibility__list-item_ios {
  background-image: url(/images/logo/IOS_logo_2010.svg);
  width: 60px;
}


@media (min-width: 768px) {
  .compatibility__list-item_windows {
    width: 50px;
  }
  
  .compatibility__list-item_macOS {
    width: 72px;
  }
  
  .compatibility__list-item_android {
    width: 52px;
  }
  
  .compatibility__list-item_ios {
    width: 56px;
  }
}