.page {
  font-family: "Kaspersky Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  background-color: rgb(29, 29, 27);  
  max-width: 1440px;
  min-width: 360px;
  color: white;
  margin: 0 auto;
}