.purchase__logo {
  width: 50px;
  height: 62px;
  display: inline-block;
  background-image:  url(../../images/Group.svg);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center bottom;
  margin-right: 23px;
}

@media (min-width: 1072px) {
  .purchase__logo {
    width: 180px;
    height: 90px;
    background-size: 80px;
    background-position: center;
    margin-right: 28px;
    background-image:  url(../../images/kasperskyDesctopIcon.svg);
  }
}