.purchase__header {
  font-weight: 700;
  font-size: 21px;
  line-height: 1.1;
  margin: 0 0 4px;
  max-width: 200px;
}

@media (min-width: 1072px) {
  .purchase__header {
    max-width: 400px;
    width: 100%;
    margin: 17px 0 8px;
    letter-spacing: 0.5px;
  }
}